@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom global styles can go below this line */

.error-message {
  color: red;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
nav {
  background-color: #f0f0f0;
}

.nav {
  display: flex;
  list-style: none;
  padding: 10px;
}

.navItem {
  margin-right: 15px;
}

.navItem a {
  @apply text-gray-800 no-underline; /* Use Tailwind's utility classes */
}

.active {
  @apply font-bold underline; /* Use Tailwind's utility classes */
}

/* Styling for the login container */
.login-container {
  display: flex;
  min-height: 100vh; /* Full height */
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1.5rem; /* Padding adjusted for small screens */
}

/* Center the header and set max width */
.login-header {
  margin: auto;
  width: 100%;
  max-width: 20rem; /* Adjust max width as necessary */
}

/* Title styling */
.login-title {
  margin-top: 2.5rem; /* Adjust top margin */
  text-align: center;
  font-size: 1.5rem; /* Corresponds to text-2xl */
  font-weight: 700; /* Corresponds to font-bold */
  line-height: 1.5; /* Adjust line height */
  color: #1f2937; /* Corresponds to text-gray-900 */
}

/* Button container */
.login-button-container {
  margin-top: 2.5rem; /* Corresponds to mt-10 */
  margin: auto;
  width: 100%;
  max-width: 20rem; /* Adjust max width as necessary */
}

/* Button styling */
.login-button {
  background-color: #3b82f6; /* Tailwind Blue-500 */
  color: white;
  width: 100%; /* Full width */
  padding: 0.5rem 1rem; /* Corresponds to py-2 */
  border-radius: 0.375rem; /* Corresponds to rounded-md */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #2563eb; /* Darker blue on hover */
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle-button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

/* globals.css */

/* Style for the Scope section */
.scope {
  font-family: Arial, sans-serif; /* Change to your preferred font */
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc; /* Light border for the scope box */
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
}

/* globals.css */

/* Styling for DeleteUser button */
.delete-button {
  background-color: #0073b1; /* LinkedIn blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #005582; /* Darker shade for hover effect */
}

.delete-button:disabled {
  background-color: #ccc; /* Gray color when disabled */
  cursor: not-allowed;
}
